/* navbar */
.logo {
  margin: 8px;
}
.logo a {
  font-size: 18px;
  color: #250f0a;
}
form {
  margin-right: 8px;
}
form input::placeholder {
  font-size: 12px;
}
form .form-control {
  padding: 6px;
  margin-top: 8px;
}
header .container-fluid {
  background-color: #f4aa9a;
}
